


<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap" rel="stylesheet">

<style type="text/css">
   body{
      font-family: 'Gaegu', cursive;
      background-color: rgb(68,152,212);
  }
#header{
    height: 70px;
    font-size: 20;
    text-align: center;
}
#pro_img{
    height: 200px;
    text-align: center;
}
#fullscreen{
   width: 100%;
   height: 100%;
   background-color: grey;
}
#screen1{
   width: 50%;
   height: 600px;
   background-color: rgb(139,000,000);
   float: left;
}
#screen1-1{
   width: 99%;
   height: 30%;
   background-color: rgb(240,128,128);
}
#screen1-2{
   width: 99%;
   height: 69%;
   background-color: rgb(255,160,122);
}
#screen2{
   width: 50%;
   height: 600px;
   background-color: rgb(1,27,59);
   float: left;
}
#screen2-1{
   width: 99%;
   height: 40%;
   background-color: rgb(100,149,237);
}
#screen2-2{
   width: 99%;
   height: 59%;
   background-color: rgb(147,112,219);
}

</style>
</head>
<body>    <div id="header" >
   <a href="/blog/">
      <img src="https://github.com/shinji97/django_teampj/blob/main/blog/static/img/gwangwon/header.png?raw=true", width="90%"; height=70px>
   </a>
   <br>
      
   </div>    

<div id="pro_img">
   <a>
   <img src ='https://github.com/shinji97/django_teampj/blob/main/blog/static/img/gwangwon/logo.png?raw=true' style='width=100px;'>
   </a>
</div>

<div id="fullscreen">
   <div id="screen1">
      <div id="screen1-1">
         <br>
         <table align=center>
            <thead>
               <tr>
                  <th>
                     <h2> 자기소개 </h2>
                  </th>
                     <th width=700>
                     </th>   
                  </tr>
               </thead>
            </table> 
         <table align=center>
            <thead>
               <tr>
                  <th align=left>
                     인공지능을 활용한 빅데이터 전문가를 목표로 하고 있는<br>
                     기계 설계 경력이 있는 우광원입니다.
                  </th>
                  <th width=300>
                  </th>   
               </tr>
            </thead>
         </table> 
      </div>
      <div id="screen1-2">
         <br>
         <table align=center>
            <thead>
               <tr>
                  <th>
                     <h2> MBTI </h2>
                  </th>
                     <th width=700>
                     </th>   
                  </tr>
               </thead>
            </table>
         <table align=center>
            <thead>
               <tr>
                  <th align=left>
                     저의 MBTI는 I(내향) N(직관) F(감정) P(인식) 입니다.<br>
                     <br>
                     조직에서의 INFP 유형<br>
                     <br>
                     장점<br>
                     - 구성원의 잠재력을 파악하고 각자 맞는 역할을 찾도록 돕는다.  - 적재 적소 사용<br>
                     - 자신의 이상을 다른 사람과 공유하여 열정을 불러일으킨다.    - 꿈 공유<br>
                     - 공동의 목적을 향해 조용하게 구성원을 이끈다.                 - 공동의 목적<br>
                     - 조직에게 적합한 아이디어와 가능성을 제시한다.              - 아이디어 제시<br>
                     <br>
                     단점<br>
                     - 동시에 너무 많은 사람을 만족시키려는 경향이 있다.                - 많은 상황 고려<br>
                     - 엄격한 위계질서나 관료주의 분위기 속에서 일하는 것은 힘들어한다.  - 효율 중시<br>
                     <br>
                     출처 - [네이버 지식백과] MBTI - INFP 유형 (심리검사백과)<br>
                  </th>
                  <th width=100>
                  </th>   
               </tr>
            </thead>
         </table>
      </div>
   </div>
   <div id="screen2">
      <div id="screen2-1">
         <br>
         <table align=center>
            <thead>
               <tr>
                  <th>
                     <h2> 데이터 관심 분야 </h2>
                  </th>
                     <th width=600>
                     </th>   
                  </tr>
               </thead>
            </table>
            <table align=center>
               <thead>
                  <tr>
                     <th align=left>
            1. 온라인 마켓의 키워드나 표현 등에 따라 매출이 차이가 있다고합니다.<br>
            이런 키워드들을 데이터를 분석을 통해 효과적으로 소비로 이어지도록 적용해 보고 싶습니다.<br>
            <br>            
           2. 대기업들이 많은 데이터를 학습시킨 인공지능을 개발 하고 있습니다.<br>
             이런 빅데이터를 이용한 인공지능들을 활용해 보고 싶습니다.<br>
            </th>
            </tr>
         </thead>
      </table> 
      </div>
      <div id="screen2-2">
         <br>
         <table align=center>
            <thead>
               <tr>
                  <th>
                     <h2> 취업을 위한 준비 </h2>
                  </th>
                     <th width=600>
                     </th>   
                  </tr>
               </thead>
            </table>
            <table align=center>
               <thead>
                  <tr>
                     <th align=left>
            데이터 분석가 양성과정 3기 교육을 하면서 추가적으로 파이썬 활용 및 정보처리 기사 자격증을 준비하고 있습니다.<br>
            <br>
            파이썬은 파이썬 300제 기초부터 하고 있습니다.<br>
            <br>
            정보처리 기사는 교육과정과 비슷한부분이 많고 기초지식에 도움이 될것 같아 진행하게 되었습니다.<br>
         </th>
      </tr>
   </thead>
</table>
         <table align=center>
            <thead>
               <tr>
                  <th>
                     <h5 align=left >
                        일정 <br>
                        필기 접수  : 1.10 ~  1.19  <br>
                        필기 일정 :  2.13 ~  3.15 <br>
                        실기 접수 :  3.28 ~  3.31   <br>
                        실기 일정 :  4.22 ~  5. 7     <br>
                     </h5>
                  </th>
                  <th width=100>                                 
                  </th>
                  <th>
                     <h5 align=left>
                        과목 <br>
                        1. 소 프 트 웨 어 설계      <br>
                        2. 소 프 트 웨 어 개발      <br>
                        3. 데이터 베이스 구축    <br>
                        4. 프로그래밍언어활용  <br>
                        5. 정보시스템구축관리  <br>
                     </h5>
                  </th>
               </tr>
            </thead>
         </table> 
      </div>
   </div>

</div>
</body>
</html>