
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../static/css/main_style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="header" >
        <img src="../static/img/main/111.png", width="90%"; height=70px><br>
    </div>
	<div id="profile_background">

		<div id="profile_1">
            <table id="profile_table" border="0", height="160px" ,width="80%" > 
                <thead align="center" >
                    <tr>
                        <th>
                            <a href="jangmark">
                                <img src ="../static/img/main/k.jpg" height="150px">
                            </a>
                        </th>
                        <th>
                        <h1>강서연</h1>  
                        Big Data 빅데이터 전문가<br><br>
                    </tr>
                </thead>
            </table>
		</div>

        <div id="line">
        </div>

		<div id="profile_2">
            <table id="profile_table" border="0", height="160px" ,width="80%" > 
                <thead align="center" >
                    <tr>
                        <th>
                        <img src="../static/img/main/sj.jpg" height="150px" >
                        </th>
                        <th>
                        <h1>김수진</h1>  
                        BI 비즈니스인텔리전스 전문가                   
                    </tr>
                </thead>
            </table>
		</div>

        <div id="line">
        </div>

        <div id="profile_3">
            <table id="profile_table" border="0", height="160px" ,width="80%" > 
                <thead align="center" >
                    <tr>
                        <th>
                        <img src="../static/img/main/s.jpg" height="150px" >
                        </th>
                        <th>
                        <h1>신지은</h1>  
                        AI Developer AI 개발자                   
                    </tr>
                </thead>
            </table>
		</div>

        <div id="line">
        </div>

        <div id="profile_4">    
		</div>
        <div id="line1">
        </div>
        <div id="line">
        </div>

        <div id="profile_5">
            <table id="profile_table" border="0", height="160px" ,width="80%" > 
                <thead align="center" >
                    <tr>
                        <th>
                        <img src="../static/img/main/w.jpg" height="150px" >
                        </th>
                        <th>
                        <h1>우광원</h1>  
                        Big Data 빅데이터 전문가                   
                    </tr>
                </thead>
            </table>
		</div>

        <div id="line">
        </div>

        <div id="profile_6">
            <table id="profile_table" border="0", height="160px" ,width="80%" > 
                <thead align="center" >
                    <tr>
                        <th>
                        <img src="../static/img/main/j.jpg" height="150px" >
                        </th>
                        <th>
                        <h1>장마가</h1>  
                        Big Data 빅데이터 전문가                   
                    </tr>
                </thead>
            </table>
		</div>
	</div>    
	<div id="bbs_background">
        <table>
            <thead>
                <tr>
                    <th width=50>
                    </th>
                    <th align=left>
                        <h1>Blog</h1>

        {% for p in posts %}
            <hr>
            <h2> <a href="{{ p.get_absolute_url }}">{{p.id}}. {{p.title}}</a></h2>
            <h4>{{p.content}}</h4>
            <p>{{p.created_at}}</p>
            <p>{{p.update_at}}</p>
        {% endfor %}
        
        <h2> <a href="jangmark"> jangmark </a></h2>  
                    </th>
                <tr>
            </thead>
        <table>
	</div>  

</body>
</html>
