<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../static/css/sh_style.css" rel="stylesheet" type="text/css">

<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Single+Day&display=swap" rel="stylesheet">
<style>
    body{
        font-family: 'Do Hyeon', sans-serif;
    }
</style>

</head>
<body>
<div id="header">
    <img src="..\static\img\shinji\head_2.png", width="90%"; height=70px><br>
</div>

<div id="pro_img">
    <img src="..\static\img\shinji\he.png">
</div>


<div id="screen1">

    <div id="screen1-1">

        <h1><img src="..\static\img\shinji\profile.png" style="width:50px; height:50px">Profile   
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <img src="..\static\img\shinji\phone.png" style="width:50px; height:50px">Contact</h1>

        <div style="float:left">
            <img src="..\static\img\shinji\me.jpg" style="width:200px; height:250px"/>
        </div>

        <div style="float:left">
            <ul>
                <li>별명 : 신지</li>
                <li>취미 : 넷플릭스 시청</li>
                <li>mbti :
                    <ul>
                        <li>E : 외향적이고</li>
                        <li>S : 감각적이고</li>
                        <li>F : 감정을 중시하며</li>
                        <li>P : 즉흥적인</LI>
                    </ul>
                    저는 <b>ESFP</b>입니다.
                </li>
            </ul>
        </div>

        <div style="float:left">
            <ul>
                <li>email : tlswl9929@naver.com</li>
                <li>phone : 010-0000-0000</li>
                <li>instagram : <a href="https://www.instagram.com/im_sinji/">@im_sinji</a></li>
            </ul>
        </div>

    </div>
    <div id="screen1-2">
        <h1><img src="..\static\img\shinji\future.png" style="width:50px; height:50px">Future</h1>
        현재 저는 머신러닝, 딥러닝 분야에 관심이 있습니다.<br>
        그 중 이미지나 영상 처리에 관심이 많으며<br>
        추후 AI 개발 관련 직장에 취업하고 싶습니다.<br>
        <br>
        또한 인공지능 개발에 대한 역랑을 높여<br>
        언젠가는 제 전공인 화장품 또는 제약회사에서<br>
        빅데이터 분석과 AI 관련 업무를 보고싶습니다.
    </div>
</div>
<div id="screen2">
    <div id="screen2-1">
        <h1><img src="..\static\img\shinji\pra.png" style="width:50px; height:50px">Education</h1>

        <div style="float:left">
            <ul>
                <li>22/07/18~22/02/22 대구 ai 허브</li>
                    <ul>
                        <li>AI에 대한 역량을 키우기 위해 대구 ai허브에서 진행하는<br>
                            제조+실무 프로젝트 수업에 참여하였으며<br>
                            jetbot을 활용한 mnist 손글씨 인식 프로젝트에 참여하였습니다.
                        </li>
                    </ul>
                <li>22/12/26~ K-Digital Training 빅데이터 분석가 양성과정</li>
                    <ul>
                        <li>현재 본 과정에 참여중이며 매 수업 성실히 임하며<br>
                            매주 미니 프로젝트를 열심히 참여하며<br>
                            최종 기업 프로젝트까지 마무리를 잘하고 싶습니다.
                        </li>
                        <li>본 과정 참여 기간동안 빅데이터 분석과 관련된 자격증과<br>
                            기본적인 영어 성적 등을 추가로 준비 할 예정입니다.
                        </li>
                    </ul>
            </ul>
        </div>
        
    </div>

    <div id="screen2-2">
        <h1><img src="..\static\img\shinji\skill.png" style="width:50px; height:50px">Skills</h1>
        
        <div style="float:left">
            <h3> &nbsp&nbsp hard skill</h3>
            <ul>
                <li>Python</li>
                <li></li>
                <li></li>
            </ul>
        </div>
        
        <div style="float:left">
            <h3> &nbsp&nbsp soft skill</h3>
            <ul>
                <li>책임감</li>
                <li>커뮤니케이션</li>
                <li>리더십</li>
            </ul>
        </div>

        <div style="float:left">
            <h3> &nbsp&nbsp 보유 자격증 현황</h3>
            <ul>
                <li>빅데이터 분석 기사</li>
                <li>데이터분석 준전문가(ADsP)</li>
                <li>한국사능력검정시험 1급</li>
            </ul>
        </div>

        <div style="float:left">
            <h3> &nbsp&nbsp github 주소:</h3>
            <ul>
                <li><a href="https://github.com/shinji97">https://github.com/shinji97</a></li>
            </ul>
        </div>

    </div>
</div>


</body>
</html>