
    body{
        font-family: 'Kanit', sans-serif;
        row-gap: 10;
        column-gap: 10;
    }


#header{
    height: 70px;
    font-size: 20;
    text-align: center;
}
#pro_img{

    height: 200px;
}
#fullscreen{
   width: 100%;
   height: 130%;
   background-color: grey;
}
#screen1{
   width: 50%;
   height: 600px;
   background-color: rgb(255, 0, 0);
   float: left;
}
#screen1-1{
   width: 100%;
   height: 50%;
   background-color:bisque
}
#screen1-2{
   width: 100%;
   height: 50%;
   background-color:blanchedalmond;
}
#screen2{
   width: 50%;
   height: 600px;
   background-color: black;
   float: left;
}
#screen2-1{
   width: 100%;
   height: 50%;
   background-color:cornsilk
}
#screen2-2{
   width: 100%;
   height: 50%;
   background-color:darksalmon;
}
