#header{
    height: 70px; 
    font-size: 20;
    text-align: center;
}
#pro_img{
    height: 200px;
}
#fullscreen{
   width: 100%;
   height: 100%;
   background-color: grey;
}
#screen1{
   width: 50%;
   height: 600px;
   background-color: black;
   float: left;
}
#screen1-1{
   width: 100%;
   height: 50%;
   background-color: rgb(254, 235, 255);
}
#screen1-2{
   width: 100%;
   height: 50%;
   background-color: rgb(245, 222, 241);
}
#screen2{
   width: 50%;
   height: 600px;
   background-color: black;
   float: left;
}
#screen2-1{
   width: 100%;
   height: 50%;
   background-color: rgb(253, 222, 254);
}
#screen2-2{
   width: 100%;
   height: 50%;
   background-color: rgb(245, 217, 253);
}
